input[type="text"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="search"],
textarea {
  border-radius: 0;
  box-shadow: none; }

body {
  font-family: "Signika", sans-serif;
  font-weight: 300; }

a,
a:visited {
  color: #186f7c;
  text-decoration: none; }

a:hover {
  color: #f59a24; }

.slider {
  margin: 0 auto; }

.slider .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 1;
  background-color: transparent;
  border: 0;
  color: transparent; }
  .slider .slick-arrow:before, .slider .slick-arrow:after {
    color: rgba(0, 0, 0, 0.1);
    font-size: 60px !important;
    transition: all 0.3s ease; }
  .slider .slick-arrow:hover:before, .slider .slick-arrow:hover:after {
    color: rgba(255, 255, 255, 0.8);
    background-color: #186f7c;
    transition: all 0.3s ease; }

.slider .slick-prev {
  left: 0;
  outline: 0; }
  .slider .slick-prev:before {
    content: 'keyboard_arrow_left'; }

.slider .slick-next {
  right: 0;
  outline: 0; }
  .slider .slick-next:after {
    content: 'keyboard_arrow_right'; }

.slider--dark .slick-arrow:before,
.slider--dark .slick-arrow:after {
  color: rgba(255, 255, 255, 0.2); }

.u-material-icons, .slider .slick-arrow:before, .slider .slick-arrow:after, .u-search-field input[type="submit"], .branded-header__search input[type="submit"], .main-search-field input[type="submit"], .branded-header__login, .branded-header__login:visited, .login,
.login:visited, .alert-message__icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.u-button, .button--large, .button--small, .button--naked, .button, .top-nav__item {
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  background-color: rgba(24, 111, 124, 0.8);
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease; }
  .u-button:hover, .button--large:hover, .button--small:hover, .button--naked:hover, .button:hover, .top-nav__item:hover {
    background-color: #145c67;
    color: white;
    transition: all 0.3s ease; }

.u-circle, .flag-item__rounded {
  border-radius: 50%;
  overflow: hidden; }

.disabled {
  pointer-events: none;
  opacity: .4; }

.u-search-field, .branded-header__search, .main-search-field {
  display: table;
  width: 100%; }
  .u-search-field form, .branded-header__search form, .main-search-field form {
    display: table-row; }
  .u-search-field input[type="search"], .branded-header__search input[type="search"], .main-search-field input[type="search"] {
    display: table-cell;
    width: 80%;
    border: 0;
    height: 30px;
    color: black;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 0;
    background-color: rgba(24, 111, 124, 0.2);
    -moz-box-sizing: border-box; }
    .u-search-field input[type="search"]::-webkit-input-placeholder, .branded-header__search input[type="search"]::-webkit-input-placeholder, .main-search-field input[type="search"]::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.5); }
    .u-search-field input[type="search"]::-moz-placeholder, .branded-header__search input[type="search"]::-moz-placeholder, .main-search-field input[type="search"]::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.5); }
    .u-search-field input[type="search"]:-ms-input-placeholder, .branded-header__search input[type="search"]:-ms-input-placeholder, .main-search-field input[type="search"]:-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(0, 0, 0, 0.5); }
    .u-search-field input[type="search"]:-moz-placeholder, .branded-header__search input[type="search"]:-moz-placeholder, .main-search-field input[type="search"]:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(0, 0, 0, 0.5); }
  .u-search-field input::-moz-placeholder, .branded-header__search input::-moz-placeholder, .main-search-field input::-moz-placeholder {
    color: black; }
  .u-search-field input:-moz-placeholder, .branded-header__search input:-moz-placeholder, .main-search-field input:-moz-placeholder {
    color: green; }
  .u-search-field input::value, .branded-header__search input::value, .main-search-field input::value {
    color: black; }
  .u-search-field input[type="submit"], .branded-header__search input[type="submit"], .main-search-field input[type="submit"] {
    display: table-cell;
    vertical-align: top;
    padding: 0;
    border: 0;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    width: 20%; }
    .u-search-field input[type="submit"]:hover, .branded-header__search input[type="submit"]:hover, .main-search-field input[type="submit"]:hover {
      background-color: rgba(255, 255, 255, 0.4); }

.pagination {
  margin-top: 30px;
  text-align: center; }
  .pagination__item {
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    padding: 2px 10px 0px;
    margin-left: -2px;
    margin-right: -2px;
    vertical-align: top; }
    .pagination__item:hover {
      background-color: rgba(24, 111, 124, 0.1); }
  .pagination--first, .pagination--prev, .pagination--next, .pagination--last {
    line-height: 1;
    padding: 2px 0 0 0; }
    .pagination--first .material-icons, .pagination--prev .material-icons, .pagination--next .material-icons, .pagination--last .material-icons {
      vertical-align: -5px; }
  .pagination--current-page {
    font-weight: bold; }
  .pagination--first .material-icons:first-child {
    margin-right: -21px; }
  .pagination--last .material-icons:last-child {
    margin-left: -21px; }

.page-section {
  padding: 20px 0 40px; }
  .page-section__centered-content {
    max-width: 660px;
    margin: 0 auto;
    text-align: center; }
    @media (max-width: 640px) {
      .page-section__centered-content {
        padding: 0 20px; } }
  .page-section__h1 {
    text-align: center;
    font-weight: 400; }
  .page-section__h2 {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem; }
  .page-section__h3 {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.2rem; }
  .page-section--landing p {
    color: rgba(0, 0, 0, 0.6); }
  .page-section--dark-blue {
    background-color: #213c4f;
    color: white; }
  .page-section--arrow {
    position: relative; }
    .page-section--arrow:after {
      content: '';
      width: 0;
      height: 0;
      border-top: 24px solid #213c4f;
      border-left: 24px solid transparent;
      border-right: 24px solid transparent;
      position: absolute;
      z-index: 1;
      bottom: -24px;
      left: calc(50% - 24px); }

.call-to-action-section {
  background-color: #186f7c;
  padding: 40px 0;
  color: white;
  font-size: 1.2rem; }
  @media (max-width: 640px) {
    .call-to-action-section {
      padding: 20px; } }
  .call-to-action-section p {
    margin: 5px 0; }
  .call-to-action-section__button {
    text-align: right; }
    @media (max-width: 640px) {
      .call-to-action-section__button {
        text-align: center;
        margin-top: 20px; } }

.button--large {
  padding: 16px 35px;
  background-color: #f59a24;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.7rem;
  font-weight: 600; }
  .button--large:hover {
    background-color: #f48f0b; }
  .button--large:visited {
    color: rgba(255, 255, 255, 0.8); }
  @media (max-width: 640px) {
    .button--large {
      width: 100%;
      padding: 10px; } }

.button--medium {
  padding: 5px 50px;
  background-color: rgba(33, 60, 79, 0.2); }
  .button--medium:hover {
    background-color: #213c4f; }

.button--small {
  padding: 4px 20px 4px 20px;
  background-color: #186f7c;
  color: rgba(255, 255, 255, 0.8); }
  .button--small .material-icons {
    float: right;
    margin-left: 10px;
    font-size: 1.3rem; }
  .button--small:hover {
    background-color: #145c67; }
  .button--small:visited {
    color: rgba(255, 255, 255, 0.8); }

.button--naked {
  padding: 4px 20px 4px 20px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.4); }
  .button--naked .material-icons {
    float: right;
    margin-left: 10px;
    font-size: 1.3rem; }
  .button--naked:hover {
    color: rgba(255, 255, 255, 0.8);
    background-color: #145c67; }
  .button--naked:visited:hover {
    color: rgba(255, 255, 255, 0.8); }
  .button--naked:visited {
    color: rgba(0, 0, 0, 0.4); }

.button--disabled {
  pointer-events: none;
  opacity: .4; }

.button {
  font-weight: 400; }

.button--red {
  background-color: #b80000;
  color: rgba(255, 255, 255, 0.9); }
  .button--red:hover, .button--red:visited {
    color: white;
    background-color: #850000; }

.footer {
  background-color: #213c4f;
  padding: 30px 0; }
  .footer h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
    color: rgba(255, 255, 255, 0.4); }
  .footer ul {
    padding-left: 0; }
  .footer li {
    color: rgba(255, 255, 255, 0.6);
    list-style-type: none; }
  .footer a {
    color: white;
    text-decoration: none; }
  .footer a:hover {
    color: white;
    text-decoration: underline; }
  .footer__logo {
    max-width: 200px;
    opacity: .4;
    margin: 0 auto 30px; }

.copyright-information {
  background-color: rgba(0, 0, 0, 0.85);
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.5); }
  @media (max-width: 640px) {
    .copyright-information {
      padding: 10px 20px; } }

.copyright-information__open-corporates {
  color: rgba(255, 255, 255, 0.4);
  padding: 15px 0;
  text-align: right; }
  @media (max-width: 640px) {
    .copyright-information__open-corporates {
      padding: 10px 20px; } }
  .copyright-information__open-corporates img {
    width: 130px;
    margin-left: 5px; }

.branded-header {
  background-color: #213c4f;
  padding: 15px 0 0; }
  .branded-header__logo {
    padding: 0 20px 10px; }
  .branded-header--align-right {
    text-align: right; }
    @media (max-width: 640px) {
      .branded-header--align-right {
        text-align: center; } }
  .branded-header__search {
    margin: 0 auto 0 10px;
    display: inline-block;
    width: 80%; }
  .branded-header__login, .branded-header__login:visited {
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.8rem;
    vertical-align: middle; }
    @media (min-width: 68em) {
      .branded-header__login, .branded-header__login:visited {
        position: absolute;
        right: 20px;
        top: 15px; } }
  .branded-header + .top-nav .top-nav__mobile-trigger {
    color: white; }

.top-nav {
  background-color: #186f7c; }
  .top-nav__mobile-trigger {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #186f7c;
    display: none; }
    @media (max-width: 640px) {
      .top-nav__mobile-trigger {
        display: block; } }
  @media (max-width: 640px) {
    .top-nav__container {
      width: 80vw;
      background-color: white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      position: absolute;
      left: -100%;
      top: 0;
      bottom: 0;
      z-index: 1001;
      transition: left .3s ease;
      overflow-y: auto; } }
  @media (max-width: 640px) {
    .top-nav__container.js-is-active {
      left: 0;
      transition: left .3s ease; } }
  .top-nav__item {
    color: rgba(255, 255, 255, 0.8); }
    .top-nav__item:visited {
      color: rgba(255, 255, 255, 0.8); }
    @media (max-width: 640px) {
      .top-nav__item {
        display: block;
        line-height: 1;
        font-size: 1.5rem;
        padding: 15% 20px; } }
  .top-nav__item--active {
    background-color: #145c67; }
  .top-nav__open-corporates {
    color: rgba(255, 255, 255, 0.4);
    padding: 15px 20px 15px 0;
    text-align: right; }
    .top-nav__open-corporates img {
      width: 130px;
      margin-left: 5px; }
    @media (min-width: 64em) {
      .top-nav__open-corporates {
        padding-right: 45px; } }
    @media (max-width: 640px) {
      .top-nav__open-corporates {
        display: none; } }

.login,
.login:visited {
  font-size: 1.8rem;
  width: 50px;
  padding: 13px;
  text-align: center; }

.top-nav .login {
  color: rgba(255, 255, 255, 0.3); }

.top-nav .login:hover {
  color: white; }

.dropdown {
  vertical-align: middle;
  margin: 0; }
  .dropdown:hover {
    background-color: #145c67; }
    .dropdown:hover .login {
      color: white; }
    .dropdown:hover .dropdown__list {
      display: block; }
  @media (max-width: 640px) {
    .dropdown {
      background-color: #186f7c; }
      .dropdown .login {
        display: none; } }
  @media (min-width: 40em) {
    .dropdown {
      position: absolute;
      margin: 0;
      right: 20px;
      top: 0; } }
  .dropdown__list {
    margin: 0;
    padding: 0; }
    @media (min-width: 40em) {
      .dropdown__list {
        display: none;
        position: absolute;
        text-align: right;
        min-width: 140px;
        background-color: #186f7c;
        right: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); } }
  .dropdown__item {
    list-style-type: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(24, 111, 124, 0.2); }
    .dropdown__item:hover {
      background-color: rgba(255, 255, 255, 0.3);
      cursor: pointer; }
      .dropdown__item:hover a {
        color: white; }
    @media (max-width: 640px) {
      .dropdown__item {
        padding: 20px;
        border-bottom: 0; } }

.form {
  padding: 30px 0; }
  .form__label {
    font-size: 1rem;
    font-weight: 100;
    color: rgba(33, 60, 79, 0.8); }
  .form__input {
    border: 0;
    background-color: rgba(33, 60, 79, 0.1); }
    .form__input:focus {
      border: 0;
      background-color: rgba(33, 60, 79, 0.2);
      box-shadow: none; }
  .form__submit {
    float: right; }
  .form__cancel {
    background-color: #b80000; }
  .form__textarea {
    border: 0;
    background-color: rgba(33, 60, 79, 0.1);
    min-height: 200px;
    max-height: 200px; }
    .form__textarea:focus {
      border: 0;
      background-color: rgba(33, 60, 79, 0.2);
      box-shadow: none; }

.modal-window {
  display: none;
  position: fixed;
  z-index: 1001;
  top: 5%;
  background-color: white;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2); }
  .modal-window.js-is-active {
    display: block; }
  @media (min-width: 40em) {
    .modal-window {
      width: 60%;
      left: 20%; } }
  @media (max-width: 640px) {
    .modal-window {
      width: 90%;
      left: 5%; } }
  .modal-window__content {
    padding: 0 40px;
    overflow-y: scroll;
    max-height: 80vh; }
  .modal-window__title {
    font-weight: 400;
    margin: 0;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    background-color: #186f7c; }
  .modal-window__footer {
    padding: 10px 30px;
    background-color: #186f7c;
    color: white;
    text-align: center; }

.overlay {
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none; }
  .overlay.js-is-active {
    display: block; }

body.overlay--active {
  height: 100vh;
  overflow: hidden; }

.main-search-field input[type='search'] {
  height: 50px;
  padding: 10px 20px;
  width: calc(100% - 60px);
  font-size: 1.4rem; }

.main-search-field input[type='submit'] {
  width: 60px;
  height: 50px;
  background-color: #186f7c;
  font-size: 1.8rem; }
  .main-search-field input[type='submit']:hover {
    background-color: #104951; }

.main-search-field a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4); }

.flag-group {
  margin: 0;
  padding: 0; }

.flag-item {
  list-style-type: none;
  display: inline-block;
  width: 15%;
  vertical-align: top;
  cursor: pointer; }
  @media (max-width: 640px) {
    .flag-item {
      width: 30%;
      margin-bottom: 15px; } }
  .flag-item__rounded {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }
  .flag-item__country-name {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none; }
  .flag-item:hover .flag-item__country-name {
    color: black; }

.highlighted {
  background-color: rgba(245, 154, 36, 0.3);
  padding: 0 3px;
  margin: 0 -3px; }

.gazette-box {
  background-color: rgba(33, 60, 79, 0.1);
  margin: 15px 0;
  padding: 20px 0 0;
  height: 245px;
  position: relative;
  display: block;
  text-decoration: none; }
  @media (max-width: 640px) {
    .gazette-box {
      height: auto;
      padding-bottom: 30px; } }
  .gazette-box h2 {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0 20px 0 20px;
    margin: 0;
    color: rgba(33, 60, 79, 0.8); }
  .gazette-box p {
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 300;
    color: rgba(33, 60, 79, 0.8); }
  .gazette-box__controls {
    background-color: rgba(33, 60, 79, 0.1);
    font-size: .9rem;
    margin-top: 30px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%; }
  .gazette-box__category {
    margin: 5px 5px 5px 20px;
    display: inline-block;
    padding: 2px 8px 1px;
    background-color: #b80000;
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-size: .8rem;
    text-transform: uppercase; }
  .gazette-box__pub-date {
    float: right;
    margin: 5px 5px 5px 20px;
    font-style: italic;
    color: rgba(33, 60, 79, 0.4); }
  .gazette-box__flag {
    float: right;
    margin: 0 0 0 10px;
    height: 32px; }
  .gazette-box--negative {
    background-color: rgba(255, 255, 255, 0.1); }
    .gazette-box--negative h2, .gazette-box--negative p {
      color: rgba(255, 255, 255, 0.8); }
    .gazette-box--negative:visited {
      color: white; }
    .gazette-box--negative .gazette-box__controls {
      background-color: rgba(255, 255, 255, 0.1); }
    .gazette-box--negative .gazette-box__pub-date {
      color: rgba(255, 255, 255, 0.4); }

.results-list.js-is-list .medium-6 {
  width: 100%; }

.results-list.js-is-list .gazette-box {
  padding: 7px 0;
  margin: 0;
  text-decoration: none;
  position: relative;
  border-top: 1px solid rgba(33, 60, 79, 0.2);
  height: auto;
  background-color: transparent; }
  .results-list.js-is-list .gazette-box h2 {
    font-size: .9rem;
    display: inline-block;
    width: 33%;
    margin-left: 30px;
    vertical-align: top; }
  .results-list.js-is-list .gazette-box p {
    font-size: .8rem;
    width: 63%;
    display: inline-block;
    padding: 0;
    margin: 0; }
  .results-list.js-is-list .gazette-box__controls {
    background-color: transparent;
    position: static;
    margin: 0; }
  .results-list.js-is-list .gazette-box__pub-date {
    float: right;
    font-size: .8rem; }
  .results-list.js-is-list .gazette-box__category {
    font-size: .6rem;
    padding: 0 5px;
    float: right; }
  .results-list.js-is-list .gazette-box__flag {
    position: absolute;
    top: 2px;
    left: -10px;
    width: 32px; }

.filter-panel {
  padding: 30px 0 40px;
  background-color: rgba(24, 111, 124, 0.2); }
  .filter-panel__item {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300; }
  .filter-panel--title {
    font-size: 1rem;
    font-weight: 600;
    color: #186f7c; }
  .filter-panel__checkbox {
    margin: 0; }
  .filter-panel__date {
    width: 40%;
    display: inline-block; }
  .filter-panel-submit {
    background-color: #186f7c;
    padding: 20px 0;
    text-align: center; }
    .filter-panel-submit .button {
      background-color: #145c67;
      font-size: 1.3rem;
      padding: 8px 80px; }
      .filter-panel-submit .button:hover {
        background-color: #11505a; }

.js-filter-panel {
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease; }

.js-filter-panel.js-is-open {
  max-height: 2000px;
  transition: all .5s ease; }

.alert-message {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: .9rem; }
  .alert-message__icon {
    font-size: 2.2rem;
    margin: 15px; }
  .alert-message--success {
    background-color: rgba(0, 128, 0, 0.1); }
    .alert-message--success .alert-message__icon {
      color: green; }
    .alert-message--success .alert-message__icon:after {
      content: '\E5CA'; }
  .alert-message--error {
    background-color: rgba(255, 0, 0, 0.1); }
    .alert-message--error .alert-message__icon {
      color: red; }
    .alert-message--error .alert-message__icon:after {
      content: '\E001'; }
  .alert-message--warning {
    background-color: rgba(255, 165, 0, 0.1); }
    .alert-message--warning .alert-message__icon {
      color: orange; }
    .alert-message--warning .alert-message__icon:after {
      content: '\E002'; }

.all-use-cases__container {
  text-align: center;
  margin: 30px 0; }

.all-use-cases__item {
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 0 -5px -77px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .all-use-cases__item:hover {
    opacity: 1;
    -webkit-filter: none;
    filter: none; }
  .all-use-cases__item > img {
    max-width: 250px; }

.all-use-cases--bottom-row {
  margin-bottom: 0; }

.all-use-cases__explanation {
  text-align: center; }

.use-cases:nth-of-type(2n) {
  background-color: #efefef; }

@media (min-width: 40em) {
  .use-cases__panel:first-of-type {
    text-align: right; } }

.use-cases__h2 {
  font-weight: 200;
  color: #145c67;
  margin-top: 0; }

.use-cases__h3 {
  font-weight: 400;
  color: rgba(24, 111, 124, 0.6);
  margin-bottom: 0; }

.use-cases__illustration {
  width: 90%;
  margin: 20px; }

.gazette-header {
  margin-top: 20px;
  padding-bottom: 30px; }
  .gazette-header__panel-right {
    text-align: right; }
  .gazette-header__title {
    font-weight: 300;
    margin-top: 0; }
  .gazette-header__flag {
    width: 90px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
  .gazette-header__pub-date {
    font-style: italic;
    color: rgba(0, 0, 0, 0.5); }

.gazette-category {
  background-color: #b80000;
  display: inline-block;
  padding: 6px 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 2px; }

.gazette-actions {
  padding: 0; }
  .gazette-actions li {
    list-style-type: none;
    margin-bottom: 10px; }
  .gazette-actions__item {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px; }

.gazette-actions2 {
  padding: 0; }
  .gazette-actions2 li {
    list-style-type: none;
    margin-bottom: 10px;
    display: inline-block; }
    @media (max-width: 640px) {
      .gazette-actions2 li {
        display: block;
        text-align: center;
        margin-bottom: 5px; } }
  .gazette-actions2__item {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px; }

.gazette-info p {
  margin-top: .3rem; }

.gazette-info__title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0; }

.company-info {
  border-top: 4px solid #b80000;
  border-bottom: 4px solid #b80000;
  background-color: rgba(0, 0, 0, 0.05); }
  .company-info__title {
    text-align: center;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0; }
  .company-info__company-name {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400; }
  .company-info__actions {
    margin-top: 30px;
    margin-bottom: 30px; }
  .company-info__sponsor {
    color: rgba(0, 0, 0, 0.6);
    font-size: .9rem; }
  .company-info__oc-logo {
    max-width: 260px;
    margin-bottom: 30px; }
  .company-info__panel-left {
    font-weight: 500; }
    @media (min-width: 40em) {
      .company-info__panel-left {
        text-align: right; } }
  .company-info__panel-center {
    text-align: center; }
  .company-info__panel-left p, .company-info__panel-right p {
    margin-bottom: .5rem;
    margin-top: .5rem; }
  @media (max-width: 640px) {
    .company-info__panel-left p {
      margin-bottom: 0; } }
  @media (max-width: 640px) {
    .company-info__panel-right p {
      margin-top: 0; } }

.company-source {
  background-color: rgba(0, 0, 0, 0.1); }
  .company-source p {
    margin: .4rem;
    font-size: .9rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-style: italic; }

.company-info2 {
  border-top: 4px solid #b80000;
  border-bottom: 4px solid #b80000;
  background-color: rgba(0, 0, 0, 0.05); }
  .company-info2 > * {
    padding-left: 20px;
    padding-right: 20px;
    text-overflow: ellipsis;
    overflow-x: hidden; }
  .company-info2 strong {
    font-weight: 400; }
  .company-info2__title {
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0; }
  .company-info2__company-name {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 22px;
    margin: 0; }
  .company-info2__actions {
    margin-top: 30px;
    margin-bottom: 30px; }
    .company-info2__actions .button:only-child {
      display: block;
      text-align: center; }
  .company-info2__sponsor {
    color: rgba(0, 0, 0, 0.6);
    font-size: .9rem;
    text-align: center; }
  .company-info2__oc-logo {
    max-width: 180px;
    margin: 10px auto 30px; }

.company-source {
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 15px; }
  .company-source p {
    margin: .4rem .4rem 0 .4rem;
    font-size: .9rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-style: italic; }

.search-landing {
  padding-bottom: 20px; }
  .search-landing__header {
    margin-bottom: 30px; }
  .search-landing__tagline {
    margin-left: 60px;
    margin-top: 38px; }

@media (max-width: 640px) {
  .results-controls {
    text-align: center; } }

.results-controls__title {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  margin: 0; }
  @media (max-width: 640px) {
    .results-controls__title {
      margin-bottom: 20px; } }

.results-controls__dropdown {
  display: inline-block;
  width: 35%;
  margin-right: 20px; }
  @media (max-width: 640px) {
    .results-controls__dropdown {
      width: 45%;
      margin: 0; } }

.results-controls__view_sitcher-container {
  display: inline-block; }
  @media (max-width: 640px) {
    .results-controls__view_sitcher-container {
      display: block; } }

.results-controls__view-switcher {
  border-radius: 0;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  color: rgba(24, 111, 124, 0.4); }
  .results-controls__view-switcher .material-icons {
    line-height: .6;
    vertical-align: middle; }
  .results-controls__view-switcher:hover {
    background-color: rgba(0, 0, 0, 0.05); }

.results-controls .js-is-active {
  color: #186f7c; }

.active-filters {
  padding-bottom: 20px;
  padding-top: 10px; }
  @media (max-width: 640px) {
    .active-filters {
      text-align: center; } }
  .active-filters__item {
    display: inline-block;
    background-color: #213c4f;
    color: white;
    padding-left: 10px;
    margin-bottom: 5px; }
    .active-filters__item > a {
      color: rgba(255, 255, 255, 0.5); }
  .active-filters__handle {
    font-size: 1rem;
    vertical-align: -3px;
    padding: 4px 6px 4px 4px;
    margin-left: 6px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer; }
    .active-filters__handle:hover {
      background-color: rgba(255, 255, 255, 0.3); }

.homepage__main-logo {
  max-width: 460px;
  margin: 40px auto 30px; }

.homepage__tagline {
  margin-bottom: 30px; }
