{% import '_macros.html' as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika:300,600,400,700|Signika+Negative:300,600,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="images/favicon.png" rel="icon" type="image/png">
  <script src="vendor/modernizr.js"></script>
  
  <!-- Having the full JQuery might be overkill.  -->
  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="vendor/slick.min.js"></script>
  <script src="scripts.js"></script>

  <link rel="stylesheet" href="vendor/foundation.css">
  <link rel="stylesheet" href="vendor/slick.css">
  <link rel="stylesheet" href="main.css">
</head>
<body>
  {% block header %}
    {{ macros.branded_header(search=true) }} 
  {% endblock %}
  <section class="top-nav">
    <div class="row">
      <div class="large-8 column">
        <nav class="">
          <a class="top-nav__item" href="./">Home</a>
          <a class="top-nav__item" href="./search.html">Search</a>
          <!-- Adding the "top-nav__item--active" class to indicate which page is active in the main menu -->
          <a class="top-nav__item top-nav__item--active" href="./use-cases.html">Use Cases</a>
          <a class="top-nav__item" href="./gazette-page.html">Gazette Page</a>
          <a class="top-nav__item" href="./gazette-page-2.html">Gazette Page2</a>
          
          <div class="dropdown">
            <a href="#" class="login" title="Login"><i class="material-icons">account_circle</i></a>
            <ul class="dropdown__list">
              <li class="dropdown__item"><a href="#">Register</a></li>
              <li class="dropdown__item"><a href="#">Sign In</a></li>
              <li class="dropdown__item"><a href="#">Sign Out</a></li>
            </ul>
          </div>
          <!-- <a class="top-nav__item disabled" href="#">About</a>
          <a class="top-nav__item disabled" href="#">Contact</a> -->
        </nav>
      </div>
      <div class="large-4 column">

        <div class="top-nav__open-corporates">
          <span>Brought to you by</span>
          <a href="https://opencorporates.com/" target="_blank"><img src="{{ macros.image_path('open-corporates-logo-grayscale.png') }}" alt="Open Corporates"></a>
        </div>
      </div>

    </div>
  </section>
  
  {{ macros.alert_message('success') }}

{% block main %}{% endblock %}

  <section class="footer">
    <div class="row">
      <div class="column large-12">
         <div class="footer__logo"><img src="{{ macros.image_path('open-gazettes-logo-white.png') }}" alt=""></div>
      </div>
    </div>
    <div class="row">
{{ macros.footer_column() }}
{{ macros.footer_column() }}
{{ macros.footer_column() }}
{{ macros.footer_column() }}
    </div>
  </section>
  <section class="copyright-information">
    <div class="row">
      <div class="column medium-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis non consectetur impedit.</p>
      </div>
      <div class="column medium-4">
        <div class="copyright-information__open-corporates">
          <span>Brought to you by</span>
          <a href="https://opencorporates.com/" target="_blank"><img src="{{ macros.image_path('open-corporates-logo-grayscale.png') }}" alt="Open Corporates"></a>
        </div>
      </div>
    </div>
  </section>
  <div class="overlay js-overlay"></div>
  {% block modal %}{% endblock %}
</body>
</html>
