<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Signika:300,600,400,700|Signika+Negative:300,600,400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" href="vendor/foundation.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <section class="top-nav">
        <div class="row">
            <div class="large-12 column">
                <nav class="">
                    <a class="top-nav__item" href="#">About</a>
                    <a class="top-nav__item" href="#">Search</a>
                    <a class="top-nav__item" href="#">Use Cases</a>
                    <a class="top-nav__item" href="#">Contact</a>
                </nav>
                <!-- <div class="top-nav__open-corporates">
                    <span>Brought to you by</span>
                    <img src="images/open-corporate-logo-gray.png" alt="Open Corporates">
                </div>
                <span class="top-nav__user-profile">
                    <i class="material-icons">user</i>
                </span> -->
            </div>
        </div>
    </section>
    {% block main %}{% endblock %}
    <section class="footer">
        <div class="row">
            <div class="column large-12">
                logo
            </div>
        </div>
        <div class="row">
            <div class="column medium-3 small-6">
                <h3>Footer Title</h3>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
            <div class="column medium-3 small-6">
                <h3>Footer Title</h3>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
            <div class="column medium-3 small-6">
                <h3>Footer Title</h3>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
            <div class="column medium-3 small-6">
                <h3>Footer Title</h3>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
            
        </div>
    </section>
</body>
</html>