{% macro image_path(path) %}images/{{ path }}{% endmacro %}

{% macro flag_item(code, name, link=false) %}
<li class="flag-item">
  <div class="flag-item__rounded" style="background-image: url({{ image_path(code + '-flag.svg') }})"></div>
{% if link %}
  <a href="#" class="flag-item__country-name">{{ name }}</a>
{% else %}
  <span class="flag-item__country-name">{{ name }}</span>
{% endif %}
</li>
{% endmacro %}

{% macro gazette_boxes(dark=false) %}
<div class="slider__item">
  <div class="row">
{{ gazette_box('gb', classification=null, visited=true, dark=dark) }}
{{ gazette_box('ie', text='Short text', dark=dark) }}
  </div>
  <div class="row">
{{ gazette_box('es', title=null, dark=dark) }}
{{ gazette_box('lu', dark=dark) }}
  </div>
</div>
{% endmacro %}

{% macro gazette_box(code, title='Lorem ipsum dolor sit amet, consectetur adipisicing elit dolor sit amet sit amet amet.', text='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur pariatur recusandae molestiae, harum nisi, soluta illum harum nisi, soluta illum. Tenetur, doloribus vel iste nostrum. Fuga dolore, veniam, nulla dignissimos nesciunt sit?', classification='Dissolution', visited=false, dark=false, end=false) %}
<div class="medium-6 column{% if end %} end{% endif %}">
  <a href="{% if visited %}https://www.facebook.com{% else %}#{% endif %}" class="gazette-box{% if dark %} gazette-box--negative{% endif %}">
    <h2>{{ title }}</h2>
    <p>{{ text }}</p>
    <div class="gazette-box__controls">
{% if classification %}
      <div class="gazette-box__category">{{ classification }}</div>
{% endif %}
      <img class="gazette-box__flag" src="{{ image_path(code + '-flag.svg') }}" alt="">
      <span class="gazette-box__pub-date">2 days ago</span>
    </div>
  </a>
</div>
{% endmacro %}

{% macro use_cases(side, image) %}
<section class="use-cases slider">
{{ use_case(side, image) }}
</section>
{% endmacro %}

{% macro use_case(side, image) %}
{# Hacky solution for adding the correct ids to the macro #}
<div id="{{image | replace(".png", "")}}" class="slider__item use-cases--{{ side }}">
  <div class="page-section">
    <div class="row">
{% if side == 'left' %}
{{ use_case_heading() }}
{{ use_case_content() }}
{% else %}
{{ use_case_content() }}
{{ use_case_heading() }}
{% endif %}
    </div>
  </div>
</div>
{% endmacro %}

<!-- TODO: Updated the Use Cases Headers. I don't really know what to do with this. -->
{% macro use_case_heading() %}
<div class="column large-6 use-cases__panel">
  <img class="use-cases__illustration" src="{{ image_path(image) }}" alt="Use Case Name">

</div>
{% endmacro %}

{% macro use_case_content() %}
<div class="column large-6 use-cases__panel">
  <h3 class="use-cases__h3">Use Cases</h3>
  <h2 class="use-cases__h2">Bank Employees</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quae molestiae corrupti placeat eum numquam blanditiis. Voluptate a dolores quidem saepe adipisci excepturi, non aspernatur recusandae, praesentium voluptas dignissimos quos.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur fuga quisquam minima distinctio impedit similique dignissimos, sunt itaque. Eaque harum fugit amet? Iste harum error tempora quod dolor, veniam.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur fuga quisquam minima distinctio impedit similique dignissimos, sunt itaque. Eaque harum fugit amet? Iste harum error tempora quod dolor, veniam.</p>
  <p><a href="#" class="button--small">About the API <i class="material-icons">arrow_forward</i></a></p>
</div>
{% endmacro %}

{% macro filter_panel__item(name, values) %}
<div class="column medium-3">
  <h3 class="filter-panel__item filter-panel--title">Filter by {{ name }}</h3>
{% for value in values %}
  <label class="filter-panel__item" for=""><input class="filter-panel__checkbox" type="checkbox">{{ value }}</label>
{% endfor %}
</div>
{% endmacro %}

{% macro active_filters__item(text) %}
<div class="active-filters__item">
  {{ text }} <a href="#"><i class="material-icons active-filters__handle">close</i></a>
</div>
{% endmacro %}

{% macro footer_column() %}
<div class="column medium-3 small-12">
  <h3>Footer Title</h3>
  <ul>
    <li><a href="#">Link</a></li>
    <li><a href="https://www.facebook.com">Visited link</a></li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
  </ul>
</div>
{% endmacro %}


{% macro branded_header(search=false) %}
<section class="branded-header">
  <div class="row">
    <div class="medium-3 small-8 small-offset-2 column">
      <a href="./"><img src="images/open-gazettes-logo-white.png" alt="" class="branded-header__logo"></a>
    </div>

    <div class="medium-4 small-10 small-offset-1 end column branded-header--align-right">
      {% if search %}
      <form action="" class="branded-header__search">
        <input type="search"><input type="submit" value="search">
      </form>
      {% endif %}
    </div>
  </div>
</section>
{% endmacro %}

{% macro alert_message(type) %}

<section class="alert-message alert-message--{{ type }}">
  <div class="row">
    <div class="column small-2 medium-1"><div class="alert-message__icon"></div></div>
    <div class="column small-10 medium-11">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nostrum temporibus similique, quod sequi harum blanditiis beatae eaque inventore praesentium hic soluta quaerat incidunt, facere amet, asperiores excepturi corporis illo.</p>
    </div>
  </div>
</section>
{% endmacro %}