{% extends '_base.html' %}
{% block main %}

<section class="page-section page-section--landing">
    <div>
        <h1>OPEN GAZETTES LOGO</h1>
        
        <form action="" class="search-field">
            <input type="text">
            <input type="submit">
        </form>

        <ul class="flag-group">
            <li class="flag-rounded">
                <picture>
                 <source srcset="flag.svg" type="image/svg+xml">
                 <img src="flag.png" alt="Country Name">
                </picture>
                <caption class="flag-rounded__country-name">Country Name</caption>
            </li>

            <li class="flag-rounded">
                <picture>
                 <source srcset="flag.svg" type="image/svg+xml">
                 <img src="flag.png" alt="Country Name">
                </picture>
                <caption class="flag-rounded__country-name">Country Name</caption>
            </li>

            <li class="flag-rounded">
                <picture>
                 <source srcset="flag.svg" type="image/svg+xml">
                 <img src="flag.png" alt="Country Name">
                </picture>
                <caption class="flag-rounded__country-name">Country Name</caption>
            </li>

            <li class="flag-rounded">
                <picture>
                 <source srcset="flag.svg" type="image/svg+xml">
                 <img src="flag.png" alt="Country Name">
                </picture>
                <caption class="flag-rounded__country-name">Country Name</caption>
            </li>

            <li class="flag-rounded">
                <picture>
                 <source srcset="flag.svg" type="image/svg+xml">
                 <img src="flag.png" alt="Country Name">
                </picture>
                <caption class="flag-rounded__country-name">Country Name</caption>
            </li>

            <li class="flag-rounded">
                <picture>
                 <source srcset="flag.svg" type="image/svg+xml">
                 <img src="flag.png" alt="Country Name">
                </picture>
                <caption class="flag-rounded__country-name">Country Name</caption>
            </li>
        </ul>
    </div>
</section>

<section class="page-section">
    <h1>What's Happening</h1>
    <div class="row">
        <div class="medium-6 column">
            <div class="gazette-box">
                <h2>Gazette Name</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur pariatur recusandae molestiae, ipsa quidem harum nisi, soluta illum. Tenetur, doloribus vel iste nostrum. Fuga dolore, veniam, nulla dignissimos nesciunt sit?</p>
                <div class="gazette-box__controls">
                    <div class="gazette-box__category">Dissolution</div>
                    <span class="gazette-box__pub-date">2 days ago</span>
                    <img class="gazette-box__flag" src="" alt="">

                </div>
            </div>
        </div>
    </div>
</section>





{# {% for image in images %}
  <div class="gallery__item">
    <img src="{{image.src}}" alt="{{image.alt}}">
  </div>
  {% endfor %} #}
{% endblock %}