{% extends '_base.html' %}
{% block main %}
<div id="sandbox">
<div class="slider">
    <div class="slider__item">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni enim natus, totam rerum, expedita dolor omnis esse eius doloribus dolorem, ratione eum. Quis, ipsam voluptates aperiam ullam doloremque suscipit harum!</h2>
    </div>
    <div class="slider__item slide-2">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni enim natus, totam rerum, expedita dolor omnis esse eius doloribus dolorem, ratione eum. Quis, ipsam voluptates aperiam ullam doloremque suscipit harum!</h2>
    </div>
    <div class="slider__item slide-3">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni enim natus, totam rerum, expedita dolor omnis esse eius doloribus dolorem, ratione eum. Quis, ipsam voluptates aperiam ullam doloremque suscipit harum!</h2>
    </div>
</div>

</div>

{% endblock %}
