{% import '_macros.html' as macros %}
{% extends '_base.html' %}
{% block header %}
    {{ macros.branded_header(search=false) }}
{% endblock %}

{% block main %}

<section class="page-section search-landing">
  <div class="row search-landing__header">
    <div class="column medium-4">
      <h1><img src="{{ macros.image_path('open-gazettes-logo.png') }}" alt=""></h1>
    </div>
    <div class="column medium-8">
      <p class="search-landing__tagline">Bringing transparency to official public notices</p>
    </div>
  </div>

  <div class="row">
    <div class="large-12 page-section__centered-content">
      <div class="main-search-field">
        <form action="">
          <input type="search" placeholder="Search Gazettes">
          <input type="submit" value="search" class="material-icons">
        </form>
        <a href="#" class="button button--medium js-filter-trigger">Filters</a>
      </div>
    </div>
  </div>
</section>

<form action="" class="js-filter-panel">
  <section class="filter-panel">
    <div class="row">
{{ macros.filter_panel__item('Jurisdiction', ['Belgium', 'France', 'Ireland', 'Luxembourg', 'Spain', 'United Kingdom']) }}
{{ macros.filter_panel__item('Classification', ['Dissolution', 'Incorporation']) }}
{{ macros.filter_panel__item('Company', ['Company 1', 'Company 2']) }}
      <div class="column medium-3">
        <h3 class="filter-panel__item filter-panel--title">Filter by Date</h3>
        <label class="filter-panel__item" for=""><input class="filter-panel__date" type="date"> to <input class="filter-panel__date" type="date"></label>
        <h3 class="filter-panel__title filter-panel--title">Filter by Range</h3>
        <label class="filter-panel__item" for=""><input class="filter-panel__range" type="range"></label>
      </div>
    </div>
  </section>
  <section class="filter-panel-submit">
    <div class="row">
      <div class="large-12 column">
        <input class="button" type="submit" value="Search">
      </div>
    </div>
  </section>
</form>

<section class="page-section results-section">
  <div class="row results-controls">
    <div class="column large-6">
      <h2 class="results-controls__title">5 Notices found</h2>
    </div>
    <form action="">
      <div class="column large-6">
        <select name="" id="" class="results-controls__dropdown">
          <option value="">10 per page</option>
          <option value="">50 per page</option>
        </select>
        <select name="" id="" class="results-controls__dropdown">
          <option value="">Sort by...</option>
          <option value="">Sort by Date</option>
          <option value="">Sort by Type</option>
          <option value="">Sort by Jurisdiction</option>
        </select>

        <div class="results-controls__view-switcher-container">
          <div class="results-controls__view-switcher js-view-list-trigger"><i class="material-icons">view_list</i></div>
          <div class="results-controls__view-switcher js-view-grid-trigger results-controls--active-view"><i class="material-icons">view_module</i></div>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="large-12 column">
      <div class="active-filters">
{% set texts = ['Dissolution', 'Filter One', 'Filter with longer name'] %}
{% for text in texts %}
{{ macros.active_filters__item(text) }}
{% endfor %}
      </div>
    </div>
  </div>

  <div class="results-list js-results-list">
    <div class="row">
      <!-- Hacked Gazette Box -->
      <div class="medium-6 column">
        <a href="https://www.facebook.com" class="gazette-box">
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit dolor sit amet sit amet amet.</h2>
          <p>Lorem ipsum dolor sit amet, <span class="highlighted">consectetur adipisicing</span> elit. Consequatur pariatur recusandae molestiae, harum nisi, soluta illum harum nisi, soluta illum. Tenetur, doloribus vel iste nostrum. Fuga dolore, veniam, nulla dignissimos nesciunt sit?</p>
          <div class="gazette-box__controls">
            <img class="gazette-box__flag" src="images/ie-flag.svg" alt="">
            <span class="gazette-box__pub-date">2 days ago</span>
            <div class="gazette-box__category">Dissolution</div>
          </div>
        </a>
      </div>
      <!-- End of Hacked Gazette Box -->

      {{ macros.gazette_box('es') }}
      {{ macros.gazette_box('lu') }}
      {{ macros.gazette_box('lu') }}
      {{ macros.gazette_box('lu') }}
      {{ macros.gazette_box('lu') }}
      {{ macros.gazette_box('be', end=true) }}
    </div>
  </div>
  <div class="row">
    <div class="column large-12">
      <div class="pagination">
        <a href="#" class="pagination__item pagination--first">
          <i class="material-icons">keyboard_arrow_left</i>
          <i class="material-icons">keyboard_arrow_left</i>
        </a>
        <a href="#" class="pagination__item pagination--prev">
          <i class="material-icons">keyboard_arrow_left</i>
        </a>

        <a href="#" class="pagination__item">1</a>
        <span class="pagination__item pagination--current-page">2</span>
        <a href="#" class="pagination__item">3</a>
        <a href="#" class="pagination__item">4</a>
        <a href="#" class="pagination__item">5</a>

        <a href="#" class="pagination__item pagination--next">
          <i class="material-icons">keyboard_arrow_right</i>
        </a>
        <a href="#" class="pagination__item pagination--last">
          <i class="material-icons">keyboard_arrow_right</i>
          <i class="material-icons">keyboard_arrow_right</i>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
