{% extends '_base.html' %}
{% block main %}

<section id="use-cases" class="use-cases use-cases--left slider">
  <div class="slider__item">
    <div class="page-section use-cases__illustration" style="background-image: url(images/use-case-1.jpg">
      <div class="row">
          <div class="column large-6 use-cases__panel">
            <h2 class="use-cases__h2">Use Cases</h2>
          </div>

          <div class="column large-6 use-cases__panel">
            <h2 class="use-cases__h2">Bank Employees</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quae molestiae corrupti placeat eum numquam blanditiis. Voluptate a dolores quidem saepe adipisci excepturi, non aspernatur recusandae, praesentium voluptas dignissimos quos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur fuga quisquam minima distinctio impedit similique dignissimos, sunt itaque. Eaque harum fugit amet? Iste harum error tempora quod dolor, veniam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur fuga quisquam minima distinctio impedit similique dignissimos, sunt itaque. Eaque harum fugit amet? Iste harum error tempora quod dolor, veniam.</p>
            <p><a href="#" class="button--small">About the API <i class="material-icons">arrow_forward</i></a></p>
          </div>
        </div>
      </div>
  </div>
</section>

<section id="use-cases" class="use-cases use-cases--right slider">
    <div class="slider__item">
        <div class="page-section use-cases__illustration" style="background-image: url(images/use-case-2.jpg">
            <div class="row">
                <div class="column large-6 use-cases__panel">
                    <h2 class="use-cases__h2">Bank Employees</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quae molestiae corrupti placeat eum numquam blanditiis. Voluptate a dolores quidem saepe adipisci excepturi, non aspernatur recusandae, praesentium voluptas dignissimos quos.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur fuga quisquam minima distinctio impedit similique dignissimos, sunt itaque. Eaque harum fugit amet? Iste harum error tempora quod dolor, veniam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur fuga quisquam minima distinctio impedit similique dignissimos, sunt itaque. Eaque harum fugit amet? Iste harum error tempora quod dolor, veniam.</p>
                    <p><a href="#" class="button--small">About the API <i class="material-icons">arrow_forward</i></a></p>
                </div>

                <div class="column large-6 use-cases__panel">
                    <h2 class="use-cases__h2">Use Cases</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="use-cases" class="use-cases use-cases--left slider">
  <div class="slider__item">
    <div class="page-section use-cases__illustration" style="background-image: url(images/use-case-1.jpg">
      <div class="row">
          <div class="column large-6 use-cases__panel">
            <h2 class="use-cases__h2">Use Cases</h2>
          </div>

          <div class="column large-6 use-cases__panel">
            <h2 class="use-cases__h2">Bank Employees</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quae molestiae corrupti placeat eum numquam blanditiis. Voluptate a dolores quidem saepe adipisci excepturi, non aspernatur recusandae, praesentium voluptas dignissimos quos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur fuga quisquam minima distinctio impedit similique dignissimos, sunt itaque. Eaque harum fugit amet? Iste harum error tempora quod dolor, veniam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur fuga quisquam minima distinctio impedit similique dignissimos, sunt itaque. Eaque harum fugit amet? Iste harum error tempora quod dolor, veniam.</p>
            <p><a href="#" class="button--small">About the API <i class="material-icons">arrow_forward</i></a></p>
          </div>
        </div>
      </div>
  </div>
</section>

<section id="use-cases" class="use-cases use-cases--right slider">
    <div class="slider__item">
        <div class="page-section use-cases__illustration" style="background-image: url(images/use-case-2.jpg">
            <div class="row">
                <div class="column large-6 use-cases__panel">
                    <h2 class="use-cases__h2">Bank Employees</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quae molestiae corrupti placeat eum numquam blanditiis. Voluptate a dolores quidem saepe adipisci excepturi, non aspernatur recusandae, praesentium voluptas dignissimos quos.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur fuga quisquam minima distinctio impedit similique dignissimos, sunt itaque. Eaque harum fugit amet? Iste harum error tempora quod dolor, veniam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur fuga quisquam minima distinctio impedit similique dignissimos, sunt itaque. Eaque harum fugit amet? Iste harum error tempora quod dolor, veniam.</p>
                    <p><a href="#" class="button--small">About the API <i class="material-icons">arrow_forward</i></a></p>
                </div>

                <div class="column large-6 use-cases__panel">
                    <h2 class="use-cases__h2">Use Cases</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="use-cases" class="use-cases use-cases--left slider">
  <div class="slider__item">
    <div class="page-section use-cases__illustration" style="background-image: url(images/use-case-1.jpg">
      <div class="row">
          <div class="column large-6 use-cases__panel">
            <h2 class="use-cases__h2">Use Cases</h2>
          </div>

          <div class="column large-6 use-cases__panel">
            <h2 class="use-cases__h2">Bank Employees</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quae molestiae corrupti placeat eum numquam blanditiis. Voluptate a dolores quidem saepe adipisci excepturi, non aspernatur recusandae, praesentium voluptas dignissimos quos.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur fuga quisquam minima distinctio impedit similique dignissimos, sunt itaque. Eaque harum fugit amet? Iste harum error tempora quod dolor, veniam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur fuga quisquam minima distinctio impedit similique dignissimos, sunt itaque. Eaque harum fugit amet? Iste harum error tempora quod dolor, veniam.</p>
            <p><a href="#" class="button--small">About the API <i class="material-icons">arrow_forward</i></a></p>
          </div>
        </div>
      </div>
  </div>
</section>

{% endblock %}
