// Call to Action
.call-to-action-section {
    background-color: $teal;
    padding: 40px 0;
    color: $white;
    font-size: 1.2rem;

    @include breakpoint($small) { padding: 20px; }

    p { margin: 5px 0; }

    &__button {
        text-align: right;

        @include breakpoint($small) { 
            text-align: center;
            margin-top: 20px;
        }
    }
}
