.company-info {
    border-top: 4px solid $red;
    border-bottom: 4px solid $red;
    background-color: rgba($black, .05);


    &__title {
        text-align: center;
        font-weight: 300;
        color: rgba($black, .6);
        margin-bottom: 0;
    }

    &__company-name {
        text-align: center;
        color: rgba($black, .6);
        font-weight: 400;
    }

    &__actions {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__sponsor {
        color: rgba($black, .6);
        font-size: .9rem;
        
    }

    &__oc-logo {
        max-width: 260px;
        margin-bottom: 30px;
    }

    &__panel-left {
        font-weight: 500;
        @include breakpoint($medium) { text-align: right; }
    }

    &__panel-center {
        text-align: center;
    }

    &__panel-left,
    &__panel-right {
        p {
            margin-bottom: .5rem;
            margin-top: .5rem;
        }
    }

    &__panel-left p {
        @include breakpoint($small) { margin-bottom: 0; }
    }

    &__panel-right p {
        @include breakpoint($small) { margin-top: 0; }
    }
}

.company-source {
    background-color: rgba($black, .1);

    p {
        margin: .4rem;
        font-size: .9rem;
        text-align: center;
        color: rgba($black, .5);
        font-style: italic;
    }
}