// flags

.flag-group {
    margin: 0;
    padding: 0;
    // display: inline-block;
}

.flag-item {
    list-style-type: none;
    display: inline-block;
    width: 15%;
    cursor: pointer;

    @include breakpoint($small) {
        width: 30%;
        margin-bottom: 15px;
    }

    &__rounded {
        @extend .u-circle;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        display: block;
        margin-bottom: 15px;
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 4px rgba($black, .2);
    }

    &__country-name {
        color: rgba($black, .5);
        text-decoration: none;
    }

    &:hover {
        .flag-item__country-name {
            color: rgba($black, 1);       
        }
    }
}