// Footer

.footer {
    background-color: $gray-70;
    padding: 30px 0;

    h3 {
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: bold;
        color: $white-90;        
    }

    li {
        color: $white-90;
    }

}