// Footer

.footer {
    background-color: $dark-blue;
    padding: 30px 0;

    h3 {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .5px;
        color: rgba($white, .4);        
    }

    ul {
        padding-left: 0;
    }

    li {
        color: rgba($white, .6);
        list-style-type: none;
    }

    a {
        color: $white;
        text-decoration: none;
    }

    a:hover { 
        color: $white;
        text-decoration: underline; 
    }


    &__logo {
        max-width: 200px;
        opacity: .4;
        margin: 0 auto 30px;
    }

}

.copyright-information {
    background-color: rgba($black, .85);
    font-size: .9rem;
    color: rgba($white, .5);

    @include breakpoint($small) { padding: 10px 20px; }
}

.copyright-information__open-corporates {
    color: rgba($white, .4);
    padding: 15px 0;
    text-align: right;

    @include breakpoint($small) { padding: 10px 20px; }

    img {
        width: 130px;
        margin-left: 5px;
    }
}