// Gazette Box

.highlighted {
    background-color: rgba($orange, .3);
    padding: 0 3px;
    margin: 0 -3px;
}

.gazette-box {
    background-color: rgba($dark-blue, .1);
    margin: 15px 0;
    padding: 20px 0 0;
    height: 245px;
    position: relative;
    display: block;
    text-decoration: none;

    @include breakpoint($small) {
        height: auto;
        padding-bottom: 30px;
    }

    h2 {
        font-size: 1.3rem;
        font-weight: 400;
        padding: 0 20px 0 20px;
        margin: 0;
        color: rgba($dark-blue, .8);
    }

    p {
        padding: 0 20px;
        font-size: 1rem;
        font-weight: 300;
        color: rgba($dark-blue, .8);
    }


    &__controls {
        background-color: rgba($dark-blue, .1);
        font-size: .9rem;
        margin-top: 30px;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    &__category { // NOTE: This might be redundant with the gazette-category
        margin: 5px 5px 5px 20px;
        display: inline-block;
        padding: 2px 8px 1px;
        background-color: $red;
        border-radius: 2px;
        color: rgba($white, .9);
        font-weight: 400;
        font-size: .8rem;
        text-transform: uppercase;
    }

    &__pub-date {
        float: right;
        margin: 5px 5px 5px 20px;
        font-style: italic;
        color: rgba($dark-blue, .4);
    }

    &__flag {
        float: right;
        margin: 0 0 0 10px;
        height: 32px;
    }


    // Switching the colors for the Gazette Boxes over dark background

    &--negative {
        background-color: rgba($white, .1);

        h2, p { color: rgba($white, .8); }

        &:visited { color: $white; }

        .gazette-box__controls {
            background-color: rgba($white, .1);
        }

        .gazette-box__pub-date {
            color: rgba($white, .4);
        }
    }

}



