.gazette-header {
    margin-top: 20px;
    padding-bottom: 30px;

    &__panel-right {
        text-align: right;
    }

    &__title {
        font-weight: 300;
        margin-top: 0;
    }

    &__flag {
        width: 90px;
        box-shadow: 0 0 6px rgba($black, .2);
    }

    &__pub-date {
        font-style: italic;
        color: rgba($black, .5);
    }
}

.gazette-category { // NOTE: This might be redundant with the gazette-box__category
    background-color: $red;
    display: inline-block;
    padding: 6px 18px;
    font-weight: 400;
    color: rgba($white, .9);
    border-radius: 2px;
}

.gazette-actions {
    padding: 0;

    li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    &__item {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.gazette-actions2 {
    padding: 0;

    li {
        list-style-type: none;
        margin-bottom: 10px;
        display: inline-block;
        
        @include breakpoint($small) {
            display: block;
            text-align: center;
            margin-bottom: 5px;
        }
    }

    &__item {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
}

.gazette-info {
    p {
        margin-top: .3rem;
    }

    &__title {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0;
    }
}
