.results-list.js-is-list {
  .medium-6 { width: 100%; } // Overiding foundation styles for this list view

  .gazette-box {
    padding: 7px 0;
    margin: 0;
    text-decoration: none;
    position: relative;
    border-top: 1px solid rgba($dark-blue, .2);
    height: auto;
    background-color: transparent;

    h2 {
        font-size: .9rem;
        display: inline-block;
        width: 33%;
        margin-left: 30px;
        vertical-align: top;
    }

    p {
        font-size: .8rem;
        width: 52%;
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    &__controls {
        background-color: transparent;
        position: static;
        margin: 0;
    }

    &__pub-date {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: .8rem;
    }

    &__category { // NOTE: This might be redundant with the gazette-category
        font-size: .6rem;
        padding: 0 5px;
        position: absolute;
        top: 2px;
        right: 0;
    }

    &__flag {
      position: absolute;
      top: 2px;
      left: -10px;
      width: 32px;

    }
  }
}