.search-landing {
    padding-bottom: 20px;

    &__header {
        margin-bottom: 30px;
    }

    &__tagline {
        margin-left: 60px;
        margin-top: 38px; // Fixes the one-line tagline. 
    }
}


.results-section {

}

.results-controls {

    &__title {
        font-weight: 400;
        color: rgba($black, .7);
        margin: 0;
    }

    &__dropdown {
        display: inline-block;
        width: 35%;
        margin-right: 20px;
    }

    &__view-switcher {
        border-radius: 0;
        display: inline-block;
        padding: 5px;
        cursor: pointer;
        color: rgba($teal, .4);
        
        .material-icons {
            line-height: .6;
            vertical-align: middle;
        }

        &:hover {
            background-color: rgba($black, .05);
        }

    }

    .js-is-active { color: $teal; }
}

.active-filters {
    padding-bottom: 20px;
    padding-top: 10px;

    // We should have color coded filters
    &__item {
        display: inline-block;
        background-color: $dark-blue;
        color: $white;
        padding-left: 10px;
        margin-bottom: 5px;

        > a {
            color: rgba($white, .5);
        }
    }

    &__handle {
        font-size: 1rem;
        vertical-align: -3px;
        padding: 4px 6px 4px 4px;
        margin-left: 6px;
        border-left: 1px solid rgba($white, .3);
        cursor: pointer;

        &:hover {
            background-color: rgba($white, .3);
        }
    }
}

.results-list { 
}