// Search Field
.main-search-field {
    display: table;
    width: 100%;

    form {  display: table-row; }

    input[type="search"] {
        display: table-cell;
        width: calc(100% - 60px);
        border: 0;
        font-size: 1.4rem;
        color: $black;
        color: rgba($black, .5);
        box-shadow: 0 0 0 0;
        background-color: rgba($teal, .2);

        height: 50px;
        padding: 10px 20px;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: rgba($black, .5);
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: rgba($black, .5);
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: rgba($black, .5);
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: rgba($black, .5);
        }

        -moz-box-sizing: border-box;
        
    }

    input::-moz-placeholder {
      color: black;
    }
    input:-moz-placeholder {
      color: green;
    }

    input::value {
        color: black;
    }

    input[type="submit"] {
        display: table-cell;
        vertical-align: top;

        width: 60px;
        height: 50px;
        padding: 0;
        border: 0;

        font-size: 1.8rem;
        background-color: $teal;
        color: $white;

        &:hover {
            background-color: darken($teal, 10);
        }
    }

    a {
       text-decoration: none;
       color: rgba($black, .4);
    }
}