// Search Field
.main-search-field {
  @extend .u-search-field;

  input[type='search'] {
    height: 50px;
    padding: 10px 20px;
    width: calc(100% - 60px);
    font-size: 1.4rem;
  }

  input[type='submit'] {
    width: 60px;
    height: 50px;
    background-color: $teal;
    font-size: 1.8rem;

    &:hover {
      background-color: darken($teal, 10);
    }
  }

    a {
       text-decoration: none;
       color: rgba($black, .4);
    }
}