// Top Nav
.top-nav {
    background-color: $teal;

    &__mobile-trigger {
        position: absolute;
        top: 10px;
        left: 15px;
        color: $teal;
        display: none;

        @include breakpoint($small) { display: block; }
    }

    &__container {
        @include breakpoint($small) {
            width: 80vw;
            background-color: $white;
            box-shadow: 0 0 5px rgba($black, .2);
            position: absolute;
            left: -100%;
            top: 0;
            bottom: 0;
            z-index: 1001;
            transition: left .3s ease;
            overflow-y: auto;
        }

        &.js-is-active {
            @include breakpoint($small) {
                left: 0;
                transition: left .3s ease;
            }
        }
    }

    &__item {
        @extend .u-button;
        color: rgba($white, .8);

        &:visited { color: rgba($white, .8);
        }

        @include breakpoint($small) {
            display: block;
            // This styles are tied to the amount of menu item
            height: 20%;
            font-size: 1.5rem;
            padding: 15% 20px;
        }
    }

    &__item--active { background-color: darken($teal, 5); }

    &__open-corporates {
        color: rgba($white, .4);
        padding: 15px 20px 15px 0;
        text-align: right;

        img {
            width: 130px;
            margin-left: 5px;
        }

        @include breakpoint($large) { padding-right: 45px }

        // Hides the Open Corporates logo from the top menu in mobile screens
        @include breakpoint($small) { display: none; }
    }
}

.login,
.login:visited {
    @extend .u-material-icons;
    font-size: 1.8rem;
    width: 50px;
    padding: 13px;
    text-align: center;
}

.top-nav .login { color: rgba($white, .3);}
.top-nav .login:hover { color: rgba($white, 1);}


.dropdown {
    vertical-align: middle;
    margin: 0;

    &:hover {
        background-color: darken($teal, 5);

        .login { color: white; }

        .dropdown__list { display: block; } // Triggers the dropdown for the login.


    }

    @include breakpoint($small) { display: none }

    @include breakpoint($medium) {
        position: absolute;
        margin: 0;
        right: 20px;
        top: 0;
    }

    &__list {
        display: none; // Hides the dropdown, when not hovered.
        @include breakpoint($medium) {
            padding: 0;
            margin: 0;
            position: absolute;
            text-align: right;
            min-width: 140px;
            background-color: $teal;
            right: 0;
            box-shadow: 0 0 10px rgba($black, .3);
        }

    }

    &__item {
        list-style-type: none;
        padding: 10px;
        background-color: rgba($white, .8);
        border-bottom: 1px solid rgba($teal, .2);

        &:hover {
            background-color: rgba($white, .3);
            cursor: pointer;

            a { color: white; }

        }
    }

}

