// Top Nav
.top-nav {
    background-color: $teal;

    &__item {
        @extend .u-button;
        color: rgba($white, .8);

        &:visited {
            color: rgba($white, .8);
        }
    }

    &__open-corporates {
        color: rgba($white, .4);
        padding: 15px 0;
        text-align: right;

        img {
            width: 130px;
            margin-left: 5px;
        }
    }
}

.login,
.login:visited {
    @extend .u-material-icons;
    font-size: 1.8rem;
    width: 50px;
    height: 40px;
    vertical-align: middle;
    margin: 5px 0 0;

    @include breakpoint(70em) {
        position: absolute;
        margin: 0;
        right: 20px;
        top: 15px;
    }
}



.top-nav .login { color: rgba($white, .3);}
.top-nav .login:hover { color: rgba($white, 1);}