// Use Cases
.use-cases {
    .use-cases__panel:first-of-type {
        text-align: right;
    }    
}

.use-cases--right {
    .use-cases__illustration {
        background-position: right center;
        background-color: #cccccc;
    }
}



.use-cases__h2 {
    font-weight: 400;
    color: darken($teal, 5);
    
}

.use-cases__illustration {
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: #f2f2f2;
    background-position: left center;
}