// Use Cases
.all-use-cases__explanation {
    text-align: center;
}

.use-cases {
    &:nth-of-type(2n) {
        background-color: #efefef;
    }
    &__panel:first-of-type {
        text-align: right;
    }

    &__h2 {
        font-weight: 200;
        color: darken($teal, 5);
        margin-top: 0;
    }

    &__h3 {
        font-weight: 400;
        color: rgba($teal, .6);
        margin-bottom: 0;
    }

    &__illustration {
        width: 90%;
        margin: 20px;
    }
}