// Use Cases
.use-cases {
    &__panel:first-of-type {
        text-align: right;
    }    

    &--right {
        .use-cases__illustration {
            background-position: right center;
            background-color: #cccccc;
        }
    }

    &__h2 {
        font-weight: 400;
        color: darken($teal, 5);
        
    }

    &__illustration {
        background-repeat: no-repeat;
        background-size: 50%;
        background-color: #f2f2f2;
        background-position: left center;
    }
}